<li class="
      list-item
    {{#if isActiveChat}} list-item__active {{/ if}}
">
    <div class="list-item__image">
        <img src={{user_avatar}}
             alt="Аватар"
             width="47px"
             height="47px">
    </div>
    <div class="list-item__content">
        <div class="list-item__head">
            <h4>{{name}}</h4>
            <p class="list-item__time">{{time}}</p>
        </div>
        <div class="list-item__message">
            {{#if sendMessage}}
                <p><span>Вы: </span>{{message}}</p>
            {{else }}
                <p>{{message}}</p>
            {{/if}}
            {{#if unread_count}}
                <div class="list-item__unread-count">{{unread_count}}</div>
            {{/if}}
        </div>
    </div>
</li>

